@import 'custom-font.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background: linear-gradient(
        178.1deg,
        rgb(60, 55, 106) 0%,
        rgb(0, 0, 0) 60%
    );
}

.bg-image {
    filter: brightness(57%) contrast(64%) hue-rotate(360deg) saturate(226%)
        sepia(26%);
}

.title em {
    font-style: normal;
    font-weight: 700;
    background-color: rgba(0, 0, 0, .15);
}

.overview em {
    background-color: rgba(0, 0, 0, .10);
    font-style: normal;
    font-weight: 700;
}
